<h1>Create a new quote</h1>
<div>
    <textarea rows="30" cols="50"></textarea>
    <form action="/quotes" method="POST">
    <button type ="submit" value="Submit">Submit quote</button>
    </form>
</div>